################################
###########  FILES  ############
################################
*.pptx
*.pdf

################################
########### FOLDERS ############
################################
3_ImRadGuiEditor_local/
1_FileExplorer_local/
2_Plotter_local/
4_EpitrendPlotter/

################################
###########  OTHER  ############
################################
Plotter/CMakeLists.txt